// ---------------------------------------------------------------------------
// Imports

@import "h5bp";
@import "layout";
@import "typography";


//admin styles

#admin_nav{
	display:block;
	margin-top:15px;
	padding-bottom:15px;
	border-bottom:2px dashed #6BA6CB;
	a{
		color:orange;
		margin-right:20px;
		&.logout{
			float:right;
			color:red;
			font-weight:bold;
		}
	}
}

table{
	width:100%;
	th{
		text-align:left;
		border-bottom:1px dashed #6BA6CB;
	}
	td{
		padding:10px 0;
		border-bottom:1px dotted grey;
	}
}